{% set navigation = load_data(path='data/navigation.toml') %}
<header>
    <img
        src="{{ get_url(path='logo.jpg') }}"
        alt="Logo {{ config.title }}"
        class="logo"
    />
    {% for item in navigation.items %}
    <a
        href="{{ get_url(path=item.url) }}"
        class="zain-regular{% if page is defined and page.extra.nav_id is defined and page.extra.nav_id == item.id %} underline{% elif section is defined and section.extra.nav_id is defined and section.extra.nav_id == item.id %} underline{% endif %}"
        >{{ item.title }}</a
    >
    {% endfor %} {% include "partials/social-links.html" %}
</header>
