{% set navigation = load_data(path='data/navigation.toml') %} {% set logo_href =
root_prefix ~ "/logo.jpg" %}
<header>
    <img
        src="{{ logo_href | safe }}"
        alt="Logo {{ config.title }}"
        class="logo"
    />
    {% for item in navigation.items %} {% set item_href = root_prefix ~ "/" ~
    item.url %}
    <a
        href="{{ item_href | safe }}"
        class="zain-regular{% if page is defined and page.extra.nav_id is defined and page.extra.nav_id == item.id %} underline{% elif section is defined and section.extra.nav_id is defined and section.extra.nav_id == item.id %} underline{% endif %}"
        >{{ item.title }}</a
    >
    {% endfor %}

    <div class="header-actions">
        <p>{{ config.title }}</p>
        {% include "partials/social-links.html" %}
    </div>
</header>
