{% set_global root_prefix = "." %} {% for segment in current_path |
default(value="/") | split(pat="/") %} {% if segment %} {% set_global
root_prefix = root_prefix ~ "/.." %} {% endif %} {% endfor %}
<!doctype html>
<html lang="{{ lang | default(value=config.default_language) }}">
    <head>
        {% include "partials/head.html" %}
    </head>
    <body>
        {% include "partials/header.html" %}
        <main>
            <section class="colleft"></section>
            <section class="colcenter">
                {% block content %}{% endblock content %}
            </section>
            <section class="colright"></section>
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
