<!doctype html>
<html lang="{{ lang | default(value=config.default_language) }}">
    <head>
        {% include "partials/head.html" %}
    </head>
    <body>
        {% if config.base_url is containing("/test_main") %}
        <div class="test-banner" role="status">Wersja testowa strony</div>
        {% endif %} {% include "partials/header.html" %}
        <main>
            <section class="colleft"></section>
            <section class="colcenter">
                {% block content %}{% endblock content %}
            </section>
            <section class="colright"></section>
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
